<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron"> 
            <h1>Bibliografia rápida</h1>
            <p>Nome: Eduardo Porto, 24 anos, Nascimento - 02/03/1999</p>
            <h2>Formação</h2>
            <p>TEC Informática; Cursando Ensino superior na area da Tecnologia</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>